/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
    --fc-on-primary: #fff;
    --fc-primary: #2C3E50;
    --fc-primary-2: #1e2b37;
    --fc-primary-3: #1a252f;
    --fc-primary-4: #151e27;
    --fc-secondary: #212529;
    --fc-theme-standard-border-color: #ddd
}

.fc .fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid var(--fc-theme-standard-border-color, #ddd);
}

/* theme */
.fc .fc-button {
    color: var(--fc-secondary);
}

.fc .fc-button:hover {
    color: var(--fc-secondary);
}

.fc .fc-button:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}

/* "primary" coloring */
.fc .fc-button-primary {
    color: var(--fc-on-primary);
    background-color: var(--fc-primary);
    border-color: var(--fc-primary);
}

.fc .fc-button-primary:hover {
    color: var(--fc-on-primary);
    background-color: var(--fc-primary-2);
    border-color: var(--fc-primary-3);
}


.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
}

.fc .fc-button-primary:disabled {
    color: var(--fc-on-primary);
    background-color: var(--fc-primary);
    border-color: var(--fc-primary);
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: var(--fc-on-primary);
    background-color: var(--fc-primary-3);
    border-color: var(--fc-primary-4);
}

/**
UI hacks, TODO need to be implemented properly via Material UI Theme system
 */
.MuiPaper-root .MuiCheckbox-colorSecondary.Mui-checked {
    color: var(--fc-primary);
}

.fc .MuiInput-underline:after {
    border-bottom-color: var(--fc-primary);
}

.fc .MuiFormLabel-root.Mui-focused {
    color: var(--fc-primary);
}

.fc table {
    margin: 0;
}
