/**
 * The following styles get applied to the calendar.
 */

/**
UI hacks, TODO need to be implemented properly via Material UI Theme system
 */
.MuiPaper-root .MuiCheckbox-colorSecondary.Mui-checked {
    color: var(--fc-button-bg-color, #2C3E50);
}

.fc .MuiInput-underline:after {
    border-bottom-color: var(--fc-button-bg-color, #2C3E50);
}

.fc .MuiFormLabel-root.Mui-focused {
    color: var(--fc-button-active-bg-color, #1a252f);
}

.fc .MuiCircularProgress-colorPrimary {
    color: var(--fc-button-bg-color, #2C3E50);
}

.fc table {
    margin: 0;
}

/* Fix indent of MUI checkbox in WP themes */
.MuiCheckbox-root input[type="checkbox"] {
    position: absolute;
}

/**
 Responsive Calendar
 */

.fc .fc-toolbar {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}

.fc-toolbar-chunk {
    margin: 4px;
}

@media screen and (max-device-width: 600px) {
    .fc .fc-button-group,
    .fc .fc-toolbar-chunk {
        width: 100%;
    }
}
